{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Review Site{% endblock %}</title>

    <!-- CSS 연결 -->
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>

<body>
    <header class="navbar">
        <h1 class="logo"><a href="/" class="logo-link">List</a></h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about/">About</a>
            <a href="/contact/">Contact</a>
            <a href="/review/">Review</a>
        </nav>
    </header>

    <main class="content-container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        © 2025 chj review project
    </footer>
</body>

</html>
