{% extends "main/base.html" %}

{% block content %}
<h2>P-List</h2>

<a href="{% url 'plist_create' %}" class="btn-create">＋ 새 리스트 만들기</a>
<hr>

{% for plist in lists %}

<div class="plist-card">

    <!-- 이미지 영역 -->
    <div class="plist-left">
        {% if plist.cover_image %}
            <img src="{{ plist.cover_image.url }}" class="plist-cover"
            style="width:120px; margin-top: 0; display: block;">
        {% else %}
            <div class="placeholder">이미지 없음</div>
        {% endif %}
    </div>

    <!-- 텍스트 영역 -->
    <div class="plist-right">
        <h3 style="display:flex; align-items:center; gap:10px;">
            <a href="{% url 'plist_detail' plist.id %}">
                {{ plist.title }}
            </a>

            {% if user == plist.user %}
                <form method="POST"
                    action="{% url 'plist_delete' plist.id %}"
                    onsubmit="return confirm('삭제할까요?');">
                    {% csrf_token %}
                    <button type="submit" style="color:red;">삭제</button>
                </form>
            {% endif %}
        </h3>

    </div>

    
</div>

<hr>

{% endfor %}

<style>
.plist-card {
    display: flex;
    gap: 25px;
    margin-bottom: 5px;
    align-items: center;
    padding: 10px 0;
}

/* 이미지 크기 줄임 */
.plist-cover {
    width: 120px;   /* 🔥 원하는 만큼 조절 가능 */
    border-radius: 10px;
}

.placeholder {
    width: 120px;
    height: 120px;
    background: #eee;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777;
}

.plist-right h3 {
    margin: 0 0 5px 0;
}

.plist-author {
    margin: 0;
    color: gray;
}

.btn-create {
    font-weight: bold;
    color: #4460ff;
}
</style>

{% endblock %}
