{% extends "main/base.html" %}

{% block title %}리뷰 작성{% endblock %}

{% block content %}

<style>
#star-rating {
    font-size: 30px;
    cursor: pointer;
}

.star {
    color: #ccc;
}

.star.selected {
    color: gold;
}
</style>

<h2>리뷰 작성</h2>

<form action="" method="POST">
    {% csrf_token %}

    <label>카테고리</label><br>
    <select name="category" required>
        <option value="movie">영화</option>
        <option value="book">도서</option>
        <option value="music">노래</option>
    </select>
    <br><br>

    <label>제목</label><br>
    <input type="text" name="title" required><br><br>

    <label>별점</label>
    
    <input type="hidden" name="rating" id="rating" value="0">

    <div id="star-rating">
        <span class="star" data-value="1">★</span>
        <span class="star" data-value="2">★</span>
        <span class="star" data-value="3">★</span>
        <span class="star" data-value="4">★</span>
        <span class="star" data-value="5">★</span>
    </div>




    <label>리뷰 내용</label><br>
    <textarea name="content" cols="40" rows="10" required></textarea><br><br>

    <button type="submit">등록</button>
</form>

<script>
const stars = document.querySelectorAll('.star');
const ratingInput = document.getElementById('rating');

stars.forEach(star => {
    star.addEventListener('click', () => {
        const value = star.dataset.value;
        ratingInput.value = value;

        stars.forEach(s => {
            s.classList.toggle(
                'selected',
                s.dataset.value <= value
            );
        });
    });
});
</script>



{% endblock %}